body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper-inner {
  background-color: #849d8f;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

 .container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  padding: 12px 21px;

  text-align: center;
  text-decoration: none;
  color: #ffffff;

  vertical-align: middle;
  border: none;
  border-radius: 25px;

  background-color: #f26843;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover {
  background-image: linear-gradient(#f58669 0%, #ec6f5e 100%);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.button:active {
  background-color: rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(#d84732 0%, #e1613e 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1) inset;
}

.main-header {
  padding: 0 27px 0;
}

.header-logo {
  display: block;

  width: 154px;
  height: 64px;
}

.main-navigation {
  display: flex;
  align-items: center;

  padding-top: 10px;
}

.site-navigation,
.sub-menu,
.sub-menu-list,
.user-navigation {
  list-style: none;

  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 380px;

  margin-left: 10px;
}

.site-navigation li:first-child {
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 30px;
  box-sizing: border-box;
  width: 142px;

  padding-top: 10px;
  padding-bottom: 2px;

  background-color: #fff;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
  border-radius: 5px;
}

.sub-menu-list a {
  display: block;

  padding: 7px 10px 7px 19px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #323232;
}

.sub-menu-header {
  display: block;

  padding: 0 10px 11px 19px;

  font-size: 14px;
  line-height: 16px;

  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sub-menu-list a:hover {
  background-color: #fbded7;
}

.sub-menu-list a:active {
  background-color: #f6b5a5;
}

.sub-menu-list a.active {
  color: #fff;

  background-color: #d07058;
}

.site-navigation-item {
  padding-right: 14px;
  padding-left: 14px;

  line-height: 18px;
  color: #fff;

  text-decoration: underline solid rgba(255, 255, 255, 0.5);
}

.site-navigation-item:hover {
  padding: 7px 14px;

  color: #000;

  background-color: #fff;
  border-radius: 25px;
  text-decoration: none;
}

.site-navigation-item:active {
  padding: 7px 14px;

  color: #000;

  background-color: #fff;
  border-radius: 25px;
  text-decoration: none;

  box-shadow: 0px 2px 1px 0px rgba(105, 105, 105, 1) inset; 
}

.site-navigation-item.active {
  padding: 7px 14px;

  color: #fff;

  background-color: #d07058;
  border-radius: 25px;
  text-decoration: none;
}

.site-navigation li:hover .sub-menu,
.site-navigation li:focus-within .sub-menu,
.user-navigation li:first-child:hover .nav-search,
.user-navigation li:first-child:focus-within .nav-search,
.user-navigation li:nth-child(2):hover .login-form,
.user-navigation li:nth-child(2):focus-within .login-form,
.user-navigation li:last-child:hover .modal-cart,
.user-navigation li:last-child:focus-within .modal-cart {
  display: block;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;

  width: 244px;
}

.user-navigation-inner {
  width: 261px;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  color: #fff;
}

.user-navigation li {
  position: relative;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search:hover {
  background-color: #f8f7f4;
}

.search:hover path {
  fill: #000;
}

.nav-search {
  display: none;
  position: absolute;
  z-index: 10;
  top: 35px;
  right: 16px;
  width: 340px;

  padding: 20px 15px;

  background-color: #f8f7f4;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
  border-radius: 5px;
  box-sizing: border-box;
}

.nav-search input {
  width: 311px;

  padding: 12px 11px;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.nav-search input::placeholder {
  font-size: 14px;
  line-height: 24px;

  color: #999999;
}

.user-navigation .login {
  display: block;
  position: relative;

  padding: 7px 16px 8px 45px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.login-form {
  display: none;
  position: absolute;

  z-index: 10;
  top: 35px;
  right: 16px;
  width: 277px;

  padding: 20px 15px 20px 20px;

  background-color: #f8f7f4;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
  border-radius: 5px;
  box-sizing: border-box;
}

.login-item {
  margin: 0;
  margin-bottom: 20px;
}

.login-item input::placeholder {
  color: #999999;
}

.login-input {
  box-sizing: border-box;
  width: 241px;

  padding: 12px;

  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.user-navigation .login::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 17px;
  width: 21px;
  height: 19px;

  background-color: transparent;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .login:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.user-navigation .login:hover::before {
  background-image: url("../img/entrance-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-group {
  display: flex;
}

.login-link-group {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.login-link-group a {
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;

  text-decoration: underline;
}

.login-button {
  margin-right: 27px;
}

.user-navigation .cart {
  display: block;
  position: relative;

  padding: 7px 16px 8px 45px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.user-navigation .cart::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 17px;
  width: 21px;
  height: 20px;

  background-color: transparent;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-content {
  padding: 0 27px 0;
}

.contact-details {
  text-align: right;
  margin-left: auto;
}

.open-hours,
.phone {
  margin: 0;

  font-weight: 500;
}

.open-hours {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;

  margin-bottom: 53px;
  padding-top: 275px;

  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  font-size: 60px;
  line-height: 60px;

  margin: 0;
  margin-bottom: 38px;
  padding-left: 230px;
  padding-right: 230px;
}

.slide-button {
  padding: 12px 42px;

  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 50px;
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

.promo-title {
  display: block;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin-bottom: 14px;
}

.promo-description {
  margin: 0;
  margin-bottom: 43px;

  font-size: 18px;
  font-weight: 400;
}

.promo {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.promo-banner {
  flex-basis: 560px;
  flex-grow: 0;
  flex-shrink: 0;

  box-sizing: border-box;
  padding: 16px 23px 22px 18px;
  border-radius: 15px;
}

.raspberry {
  background-color: #5d122d;
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
}

.chocolate {
  background-color: #4d2917;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
}

.promo-button {
  float: right;
}

.hit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.hit-item {
  position: relative;

  flex-basis: 267px;

  display: flex;
  flex-direction: column;
}

.hit-item h3 {
  order: 1;

  margin: 0;

  text-align: center;
}

.hit-name {
  font-size: 16px;
  font-weight: 400;

  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hit-name:hover,
.hit-name:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.hit-price {
  position: absolute;
  bottom: 45px;

  line-height: 45px;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5); 
}

.amount {
  padding-right: 30px;

  font-size: 45px;
  font-weight: 500;
}

.amount::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 80px;
  width: 31px;
  height: 36px;

  background-color: transparent;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.unit {
  font-size: 30px;
  font-weight: 400;
}

.hit-photo {
  margin-bottom: 12px;
}

.hit-item::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;

  background-color: transparent;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hits {
  margin-bottom: 37px;
}

.seo {
  color: #323232;

  box-sizing: border-box;
  padding: 25px 20px 2px 18px;
  margin-bottom: 41px;
  border-radius: 15px;

  background-color: #e3d4b1;
  background-image: url("../img/waffle-beckground.png");
  background-repeat: no-repeat;
}

.seo-title {
  margin: 0;
  margin-bottom: 21px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.seo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.seo-item {
  position: relative;
  flex-basis: 482px;

  padding-left: 57px; 
  margin-bottom: 22px;

  font-weight: 400;
}

.seo-item::before {
  content: "";

  position: absolute;
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.seo-item:first-child::before {
  background-image: url("../img/ice-cream.svg");
}

.seo-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.seo-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.seo-item:last-child::before {
  background-image: url("../img/thermometer.svg");
}

.blog {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.blog-new {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 500;
  color: #323232;
}

.article-title {
  color: #323232;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  text-decoration: underline;
}

.article-title:hover,
.login-link-group a:hover {
  color: #e84d37;
}

.article {
  padding: 23px 220px 80px 20px;
  background-color: #fff;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
}

.article h3 {
  margin: 0;
}

.subscribe {
  padding: 28px 20px 20px 20px;

  background-color: #f8f7f4;
  border: 6px solid #92cdff;
  border-image: url("../img/bg-post.svg") 6 round round;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 32px;

  font-weight: 400;
  color: #5a5a5a;
}

.subscribe-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.subscribe-input {
  box-sizing: border-box;
  width: 368px;

  padding: 5px 15px;

  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.subscribe-input:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}

.subscribe-input::placeholder {
  color: #999999;
}

.subscribe-input:focus {
  outline: none;
  border: 3px solid rgba(46, 136, 228, 0.5);
}

.location {
  position: relative;
}

.location iframe {
  border: 0;
}

.contacts {
  position: absolute;
  width: 302px;
  min-height: 300px;
  right: 55px;

  margin-top: -395px;
  padding: 29px 26px;

  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
  border-radius: 15px;
}

.contacts-button {
  display: block;
}

.address,
.order-phone,
.order-hours {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}

.order-phone {
  margin-bottom: 7px;
}

.order-hours {
  margin-bottom: 22px;
}

.address-details {
  display: block;

  margin-bottom: 18px;

  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.phone-details {
  font-size: 18px;
  color: #323232;
}

.page-footer {
  display: flex;
  align-items: center;

  padding: 15px 0;
  margin-right: 27px;
  margin-left: 27px;
}

.footer-social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 185px;

  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.social-button svg {
  fill: rgba(255, 255, 255, 0.8);
}

.social-button:hover {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-button svg:hover {
  fill: #fff;
}

.social-button:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-button svg:active {
  fill: rgba(255, 255, 255, 0.7);
}

.footer-suppliers {
  display: flex;
  flex-wrap: wrap;
  width: 340px;

  margin-left: auto;
  margin-right: auto;
}

.footer-suppliers-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-suppliers-list:first-of-type {
  position: relative;

  margin-right: 32px;
  padding-left: 20px;
}

.footer-suppliers-list:first-of-type::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 13px;

  background-color: transparent;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-suppliers-item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  color: #fff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-suppliers-list .footer-suppliers-header {
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.footer-suppliers-list .footer-suppliers-header:hover {
  border-bottom: 2px solid rgba(255, 188, 158, 0.2);
}

.footer-suppliers-list .documents {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.footer-suppliers-list .documents:hover {
  border-bottom: 2px solid rgba(255, 188, 158, 0.2);
}

.footer-suppliers-item:hover,
.footer-suppliers-item:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.footer-copyright {
  margin: 0;
}

.developer-info {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
}

.developer-logo svg {
  fill: #edebeb;
}

/* Modal form */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  display: none;

  position: fixed;
  top: 180px;
  left: 50%;
  margin-left: -239px;

  width: 478px;
  padding: 15px 25px 26px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 17px;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}

.contact-us {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  color: #323232;
}

.contact-item input::placeholder,
.contact-item textarea::placeholder {
  color: #999999;
}

.contact-item {
  margin-bottom: 22px;
}

.contact-item-input {
  box-sizing: border-box;
  width: 267px;

  padding: 11px 15px;

  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.contact-item textarea {
  width: 100%;
  box-sizing: border-box;

  padding: 10px 15px;

  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.contact-item-input:hover,
.contact-item textarea:hover,
.login-input:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.5) inset;
}

.contact-item-input:focus,
.contact-item textarea:focus,
.login-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.5) inset;
}

.modal-button {
  float: right;
}

/* Styles for catalog.html */

.catalog-navigation {
  display: flex;
  align-items: flex-end;

  margin-bottom: 3px;
  padding: 0 27px 0;
}

.main-content-inner {
  margin-bottom: 104px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: nowrap;

  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.breadcrumbs a {
  margin-right: 5px;

  color: #fff;

  text-decoration: underline solid rgba(255, 255, 255, 0.5);
}

.breadcrumbs li {
  display: inline-block;

  margin-right: 6px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.contact-details-inner {
  order: 1;
}

.catalog-title {
  margin: 0 0 25px 27px;
  padding-right: 200px;

  font-size: 35px;
  line-height: 41px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 312px 0 27px;
  margin-bottom: 32px;
}

.search-form fieldset {
  border: none;

  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.search-form fieldset:nth-child(4) {
  margin-bottom: 0;
}

.search-form legend {
  margin-bottom: 7px;
  margin-left: 17px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.search-radio-list,
.search-checkbox-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

.search-option label {
  position: relative;

  font-weight: 400;
  line-height: 18px;
  padding-left: 32px;

  cursor: pointer; 
}

.search-option label:before {
  content: "";

  position: absolute;
}

.search-option-radio label::before {
  top: -2px;
  left: 0px;

  width: 22px;
  height: 22px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;

  opacity: 0.8;
}

.search-option-radio input:checked + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;

  opacity: 0.8;
}

.search-option-checkbox label::before {
  top: 0px;
  left: 1px;

  width: 20px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

  opacity: 0.8;
}

.search-option-checkbox input:checked + label::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 1px;

  width: 24px;
  height: 20px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;

  opacity: 0.8;
}

.search-option-checkbox label:hover::before,
.search-option-checkbox input:checked + label:hover::before,
.search-option-radio label:hover::before,
.search-option-radio input:checked + label:hover::before {
  opacity: 1;
}

.search-option-checkbox input:disabled + label::before,
.search-option-radio input:disabled + label::before {
  opacity: 0.4;
}

.select {
  width: 187px;
  height: 36px;

  padding-left: 7px;

  background: url("../img/select-arrow.svg") no-repeat 92% rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 25px;
}

.select:hover {
  background-image: url("../img/select-arrow-hover.svg");
}

.select select {
  width: 210px;
  height: 36px;


  font-size: 16px;
  line-height: 18px;
  color: #fff;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.select select:hover {
  color: #323232;
}

.range-filter {
  width: 218px;
}

.range-controls {
  position: relative;
  height: 36px;

  padding-top: 16px;
  padding-right: 21px;
  padding-left: 21px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-sizing: border-box;
}

.scale {
  height: 4px;
  background-color: rgba(234, 234, 234, 0.5);
}

.bar {
  height: 4px;
  width: 55%;

  margin-left: 23px;

  background-color: #eaeaea;
}

.toggle {
  position: absolute;

  width: 20px;
  height: 22px;

  cursor: pointer;
}

.toggle-min {
  top: 9px;
  left: 15%;
}

.toggle-max {
  top: 9px;
  left: 60%;
}

.toggle:hover {
  transform: scale(1.1);
}

.search-radio-list {
  width: 386px;

  padding: 7px 15px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.search-checkbox-list {
  width: 667px;

  padding: 7px 20px 7px 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.apply-button {
  align-self: flex-end;
  padding: 8px 28px;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  box-shadow: none;
  border: 2px solid #fff;
  border-radius: 25px;

  margin-left: auto;
}

.apply-button:hover {
  color: #323232;
  background-color: #fff;
  background-image: none;
  box-shadow: none;
}

.apply-button:active {
  padding: 10px 30px;

  color: #323232;
  background-color: #eaeaea;
  box-shadow: 0px 2px 2px 0px rgba(105, 105, 105, 1) inset; 
  border: none;
}

.catalog {
  margin-right: 13px;
  margin-left: 13px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
}

.catalog-item {
  position: relative;

  flex-basis: 293px;
  display: flex;
  flex-direction: column;

  margin-bottom: 17px;

  box-sizing: border-box;
}

.catalog-item h3 {
  order: 1;

  margin: 0;
  margin-bottom: 14px;
  padding: 0 19px;

  text-align: center;
}

.catalog-name {
  font-size: 16px;
  font-weight: 400;

  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-name:hover,
.catalog-name:active {
  z-index: 3;

  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}

.catalog-price {
  position: absolute;
  top: 200px;
  z-index: 3;

  margin-left: 5%;

  line-height: 45px;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5); 
}

.catalog-photo {
  margin-bottom: 13px;

  margin-left: 5%;
  margin-top: 2%;
}

.catalog-item-button {
  z-index: 10;
  display: none;

  padding: 11px 18px;

  font-weight: 400;
}

.catalog-item:hover .catalog-photo {
  z-index: 2;
  margin-bottom: 6px;
}

.catalog-item:hover .catalog-item-button,
.catalog-item:hover .item-hover {
  display: block;
}

.item-hover {
  position: absolute;
  display: none;
  z-index: 1;

  padding: 338px 46px 20px;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.pagination-list {
  width: 190px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  float: right;

  list-style: none;
  margin: 0;
  padding: 0 14px;
}

.pagination-list a {
  padding: 3px 9px;

  line-height: 18px;
  font-weight: 400;
  color: #fff;

  border-radius: 50%;
}

.pagination-list a:not(.pagination-next):hover,
.pagination-list a:not(.pagination-back):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:not(.pagination-next):active,
.pagination-list a:not(.pagination-back):active {
  color: #000;
  background-color: #fff;
}

.pagination-next {
  background-color: transparent;
  background-image: url("../img/next-button.svg");
  background-repeat: no-repeat;
  background-position: 11px 6px;
}

.pagination-list li:last-child a:hover,
.pagination-list li:first-child a:hover {
  background-color: transparent;
}

.pagination-back {
  background-color: transparent;
  background-image: url("../img/back-button.svg");
  background-repeat: no-repeat;
  background-position: 0px 6px;
}

.pagination-item .disabled {
  opacity: 0.2;
}

.pagination-list .active a {
  color: #000;
  background-color: #fff;
}

.page-footer-inner {
  border-top: 1px solid rgba(234, 234, 234, 0.3);
}

/*  Styles for cart sertion  */

.modal-cart {
  display: none;
  position: absolute;
  top: 35px;
  right: 0px;
  width: 540px;
  z-index: 10;

  padding: 30px 15px 20px;


  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-sizing: border-box;
}

.cart-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  list-style: none;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  padding-right: 22px;
  padding-bottom: 16px;

  color: #323232;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  border-bottom: 1px solid #cacac7;
}

.cart-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;

  padding-left: 71px;
  margin-bottom: 37px;
}

.cart-item:last-of-type {
  margin-bottom: 0;
}

.cart-item-name {
  position: relative;
  flex-basis: 216px;
  flex-grow: 0;
  margin: 0;
  margin-right: 32px;

  font-weight: 400;
  font-size: 13px;

  word-break: break-word;
}

.cart-item-name::before {
  content: "";

  position: absolute;
  width: 33px;
  height: 33px;

  left: -45px;
  top: -10px;
}

.cart-item-one .cart-item-name::before {
  background-image: url("../img/ice-cream-1-small.png");
  background-repeat: no-repeat;
}

.cart-item-two .cart-item-name::before {
  background-image: url("../img/ice-cream-2-small.png");
  background-repeat: no-repeat;
}

.item-remove {
  position: absolute;
  top: 5%;
  left: 1px;

  width: 11px;
  height: 11px;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}

.total-price-formula {
  margin: 0;
}

.total-price {
  display: block;
  margin-left: auto;
}

.cart-summary {
  text-align: right;
  color: #323232;
  margin: 0;
  margin-bottom: 11px;
  font-size: 15px;
  padding-left: 300px;
}

.price-kg {
  color: #999999;
}

.modal-cart a.cart-button {
  float: right;
  padding: 15px;

  font-size: 18px;
}

.user-navigation .cart-inner {
  color: #323232;
  background-color: #f7f6f3;
}

.user-navigation .cart-inner::before {
  background-color: transparent;
  background-image: url("../img/basket-red.svg");
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

